.head-banner{
	background-color: #000;
	padding-top: 8rem;
	padding-bottom: 8rem;
	background-image: url("https://cdn.wallpapersafari.com/79/56/LueQdK.jpg");
}

.sezione-icone{
	padding-top: 7rem;
	padding-bottom: 7rem;
}

.bi {
    font-size: 60px;
}

.sezione-immagini .immagine{
	min-height: 30rem;
}

.sezione-immagini .testo{
	padding: 3rem;
}

@media screen and (min-width: 768px){
	.head-banner{
		padding-top: 12rem;
		padding-bottom: 12rem;
	}
	
	.sezione-immagini .testo{
	padding: 7rem;
}
}




