@media screen and (min-width: 1366px){
	.dropdown:hover .dropdown-menu{
		display: block;
		margin-top: 0;
	}
}

.dropdown-menu .dropdown-item{
	color: #FFF;
	text-decoration: none;
	transition: 0.5s;
}

.sezione-immagini .immagine{
	min-height: 30rem;
}

.sezione-immagini .testo{
	padding: 3rem;
}

@media screen and (min-width: 1366px){
	.sezione-immagini .testo{
		padding: 7rem;
	}

}

.autori{
	padding-top: 9rem;
	padding-bottom: 9rem;
	text-align: center;
}

.referendum{
	padding-top: 11rem;
	padding-bottom: 11rem;
}

.mozione{
	padding-top: 14rem;
	padding-bottom: 14rem;
}

.risultatiCoalizioni{
	padding-top: 14rem;
	padding-bottom: 14rem;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 15%;
}

.sezione-icone{
	font-size: 50px;
}

@media screen and (min-width: 540px){
	.bg-login-admin {
			 background-image: url('../imgs/illogin-5.jpg');
			 background-position:bottom; 
			 background-size: cover;
			 background-repeat:no-repeat;
			 background-attachment: fixed;
	}	
	
	.bg-interfaccia-admin {
			 background-image: url('../imgs/interfacciaAdmin.jpeg');
			 background-position:bottom; 
			 background-size: cover;
			 background-repeat:no-repeat;
			 background-attachment: fixed;
	}	
}

.bg-login-admin {
		 background-color: #156e7a;
}

@media screen and (max-width: 540px){
	.bg-interfaccia-admin {
			 background-image: url('../imgs/interfacciaAdminMobile.png');
		     background-position:bottom; 
		     background-size: cover;
			 background-repeat:no-repeat;
		     background-attachment: fixed;
	}
	
	.text-interfaccia-mobile {
			margin: 0;
		  	position: absolute;
		  	top: 40%;
		  	-ms-transform: translateY(-60%);
		  	transform: translateY(-60%);
	}
}
