.mydark-dropdown-menu .mydark-dropdown-item {
	color: #FFF;
	text-decoration: none;
	transition: 0.5s;
}

.mydark-dropdown-item:hover {
	color: black;
}

@media screen and (min-width: 1025px){
	.dropdown:hover .mydark-dropdown-menu{
		display: block;
		margin-top: 0;
	}
}

.sezione-immagini .immagine{
	min-height: 30rem;
}

.sezione-immagini .testo{
	padding: 3rem;
}

@media screen and (min-width: 1366px){
	.sezione-immagini .testo{
		padding: 7rem;
	}
}

.autori {
	padding-top: 9rem;
	padding-bottom: 9rem;
	text-align: center;
}

.referendum {
	padding-top: 11rem;
	padding-bottom: 11rem;
}

.mozione {
	padding-top: 14rem;
	padding-bottom: 14rem;
}

.sezione-icone{
	font-size: 50px;
}

.bg-login-admin {
	 background-image: url('../imgs/illogin-5.jpg');
	 background-position:bottom; 
	 background-size: cover;
	 background-repeat:no-repeat;
	 background-attachment: fixed;
}	

.bg-interfaccia-admin {
		background-color: #156e7a;
}

.banner-admin {
	position:absolute;
	bottom:0;
}
	
@media screen and (max-width: 540px){
	.text-interfaccia-admin {
		margin: 0;
		position: absolute;
		top: 40%;
		-ms-transform: translateY(-60%);
		transform: translateY(-60%);
	}
	
	.bg-login-admin {
		background-image: none;
		background-color: #156e7a;
	}
}

@media screen and (min-width: 1300px){
	.banner-admin {
		position:static;
	}
}	
